<launch>
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="false" />
    <arg name="depth_registration" value="false" />
    <arg name="depth_processing" value="false" />

    <arg name="scan_topic" value="/scan" />
  </include>

  <include file="$(find rbe3002_lab3)/launch/include/gmapping.launch.xml">
  </include>

  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml">
    <remap from="cmd_vel_mux/input" to="/foobar/good-bye" />
    <remap from="/navigation_velocity_smoother/raw_cmd_vel" to="/foobar/go0dbye" />
  </include>
</launch>
